/* ====== Variables ====== */
:root {
  --primary-color: #f1a501;
}

/* ====== Hero Layout ====== */
.hero {
  display: flex;
   align-items: center;
  justify-content: space-between;
    margin: 20px;
  padding: 15px 60px;
  flex-flow: row wrap;
  gap: 0;
  min-height: 90vh;
  font-family: 'Poppins', sans-serif;
}

/* ====== Left Column ====== */
.hero-content {
  margin-top: 40px;
  margin-bottom: 24px;
  flex: 1;
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0;
}

/* ====== Tagline ====== */
.hero .tagline {
  margin-bottom: 24px;
  font-weight: bold;
  color: var(--primary-color);
  font-size:20px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* ====== Title ====== */
.hero .title {
  margin-top: 0px;
  margin-bottom: 30px;
  font-family: 'Volkhov', serif;
  font-size: clamp(40px, 6vw, 84px);
  font-weight: bold;
  line-height: 1.4;
  color: #181e41;
}

/* Underline only “enjoy” */
.hero .highlight {
  position: relative;
  color: inherit;
}

.hero .highlight::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--primary-color);
  border-radius: 2px;

}

/* ====== Description ====== */
.hero .description {
  margin-top: 0;
  margin-bottom: 34px;
  color: #555;
  line-height: 1.6;
  max-width: 450px;
}

/* ====== Buttons ====== */
.hero .hero-buttons {
  margin-top: 0px;
  display: flex;
  align-items: center;
  gap: 45px;
}

.hero .btn-primary {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 12px 28px;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.hero .btn-primary:hover {
  background-color: #004aad;
}

/* ====== Play Demo Button ====== */
.hero .play-demo {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  color: #222;
}

.hero .circle {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero .circle i {
  color: var(--primary-color);
}

/* ====== Right Image ====== */
.hero .hero-image {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.hero .hero-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 12px;
}
